{#{% block javascripts %}#}
{#      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>#}
{#    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>#}
{#    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>#}
{#    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>#}
{#    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>#}
{#{% endblock %}#}

{#{% include '/parts/flash.html.twig' %}#}
{#{% block content %}#}
{#    {% if items | length > 0 %}#}
{#            <div class="card">#}
{#                <div class="card-header bg-dark text-white d-flex">#}
{#                    <h6>Items</h6>#}
{#                </div>#}
{#                <ul class="list-group list-group-flush">#}
{#                    {% for item in items %}#}
{#                        <li class="list-group-item d-flex">#}
{#                            <div class="flex-fill mr-2">#}
{#                                <img src="https://via.placeholder.com/200x150" width="100" alt="Product image">#}
{#                                <h5 class="mt-0 mb-0">{{ item.product.code }}</h5>#}
{#                            </div>#}
{#                            <div class="flex-fill mr-2">#}
{#                                <ul class="list-group list-group-flush">#}
{#                                    <li class="list-group-item d-flex justify-content-between">#}
{#                                        <h5 class="mt-0 mb-0">{{ item.product.name }}</h5>#}

{#                                    </li>#}
{#                                </ul>#}
{#                                <div class="form-inline mt-2">#}
{#                                    <div class="form-group mb-0 mr-2">#}
{#                                        <div style="display: inline-flex; gap:10px;">#}
{#                                            <label>Amount</label>#}
{#                                            {{ item.amount }}#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div>#}
{#                                <div class="flex-fill mr-2 text-right">#}
{#                                    <b>Price:</b><small> per unit</small>#}
{#                                    <br><b>{{ item.product.price }}$</b>#}
{#                                </div>#}
{#                                <a href="{{ path('cart_remove', {'productCode': item.product.code}) }}"#}
{#                                   class="btn btn-sm btn-danger" id="delete_cart" data-prod-code="{{ item.product.code }}"#}
{#                                   data-product-amount="{{ item.amount }}" data-product-price="{{ item.product.price }}">#}
{#                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"#}
{#                                         fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">#}
{#                                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>#}
{#                                        <path fill-rule="evenodd"#}
{#                                              d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>#}
{#                                    </svg>#}
{#                                    Delete#}
{#                                </a>#}
{#                            </div>#}
{#                        </li>#}
{#                    {% endfor %}#}
{#                </ul>#}
{#            </div>#}

{#                   <ul class="list-group list-group-flush">#}
{#                    <li class="list-group-item d-flex justify-content-between">#}
{#                        <div><b>Total</b></div>#}
{#                        <span><b id="total">{{ total }} $</b></span>#}
{#                    </li>#}
{#                </ul>#}


{#{% else %}#}
{#    <div class="alert alert-info">#}
{#        Your cart is empty. But it's easy to fix! Go shopping for <a href="{{ path('product_index') }}">Product</a>.#}
{#    </div>#}
{#    {% endif %}#}
{#{% endblock %}#}
{#<script>#}
{#    async function deleteItem(productCode) {#}
{#        let url = "{{ path("cart_remove", {'productCode': 'PRODUCT_CODE'}) }}".replace('PRODUCT_CODE', productCode);#}
{#        return await fetch(url, {method: 'DELETE'});#}
{#    }#}
{#    $(document).on('click', '#delete_cart', function (e) {#}
{#        e.preventDefault();#}
{#        deleteItem(e.target.getAttribute('data-prod-code')).then(function (res) {#}
{#            console.log(res.status);#}
{#            location.reload();#}
{#        })#}
{#            .catch(function () {#}
{#                console.log("You died.");#}
{#            });#}
{#    })#}
{#</script>#}