{% extends 'default.html.twig' %}
{% block content %}
{% for item in items %}
    <li class="list-group-item d-flex">
        <div class="flex-fill mr-2">
            <img src="https://via.placeholder.com/200x150" width="100" alt="Product image">
            <h5 class="mt-0 mb-0">{{ item.product.code }}</h5>
        </div>
        <div class="flex-fill mr-2">
            <ul class="list-group list-group-flush">
                <li class="list-group-item d-flex justify-content-between">
                    <h5 class="mt-0 mb-0">{{ item.product.name }}</h5>

                    <a href="#"
                       class="btn btn-sm btn-danger">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                             fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                            <path fill-rule="evenodd"
                                  d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                        </svg>
                        Delete
                    </a>

                </li>
            </ul>
            <small>{{ item.product.description[:50] }}...</small>
            <div class="form-inline mt-2">
                <div class="form-group mb-0 mr-2">
                    <div style="display: inline-flex; gap:10px;">
                        {% if item.amount == 1 %}
                            <form class="form-inline"
                                  action="#"
                                  method="POST">
                                <input type="hidden" id="add" name="add" value="false">
                                <button class="btn btn-danger my-2 my-sm-0" type="submit">-</button>
                            </form>
                        {% else %}
                            <form class="form-inline"
                                  action="#"
                                  method="POST">
                                <input type="hidden" id="add" name="add" value="false">
                                <button class="btn btn-danger my-2 my-sm-0" type="submit">-</button>
                            </form>
                        {% endif %}
                        {{ item.amount }}
                        <form class="form-inline"
                              action="#"
                              method="POST">
                            <input type="hidden" id="add" name="add" value="true">
                            <button class="btn btn-danger my-2 my-sm-0" type="submit">+</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="flex-fill mr-2 text-right">
                <b>Price:</b><small> per unit</small>
                <br><b>{{ item.product.price }}$</b>
            </div>
        </div>
    </li>
{% endfor %}
{% endblock %}