{{ form_start(form) }}
    {% if "edit" in app.request.requestUri %}
        <label>Code</label>
        {{ form_widget(form.code, {'value' : app.request.get('productCode'), 'attr':{'readonly':'readonly'}}) }}
    {% endif %}
    {{ form_widget(form) }}
<button id="add_Img" type="button" class="btn btn-primary">Add image</button>
<br>
<div class="fragment" id="fragment"> </div>
<div class="mt-3">
    <button type="submit" class="btn btn-success">{{ button_label|default('Save') }}</button>

</div>
{{ form_end(form) }}

{#<script>#}
{#    let $ = jQuery;#}
{#    function appendImagePath(e) {#}
{#        #}
{#    }#}
{#    $(document).on('click', '.image img', function () {#}
{#        appendImagePath(this);#}
{#    });#}
{#    $(document).on('click', "#removeAll", function () {#}
{#        $("#product_img_path").val("");#}
{#        $("#test").val("");#}
{#    });#}
{#    $("#addImg").on('click', function () {#}
{#        fetch("{{ path("gallery_fragment") }}")#}
{#            .then(function (response) {#}
{#                response#}
{#                    .text()#}
{#                    .then(function (result) {#}
{#                        $('#fragment').append(result)#}
{#                    });#}
{#            })#}
{#            .catch(function () {#}
{#                console.log("You died.")#}
{#            });#}
{#    });#}
{#    $(document).on('click', function (e) {#}
{#        if (e.target.id !== 'gallery-fragment' && $(e.target).closest('#fragment').length === 0) {#}
{#            $('#fragment').empty();#}
{#        }#}
{#    });#}
{#</script>#}