{% extends 'default.html.twig' %}

{% block title %} Products {% endblock %}

{% block content %}
    <h1 class="mt-4 mb-5" align="center">Products</h1>
    <div class="row">

        {% for product in products %}
            <div class="col-md-3">
                <div class="card mb-3">
                    <img src="{{ asset('assets/main/img/250x200.png') }}" alt="{{ product.name }}"
                         class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">{{ product.name }}</h5>
                        <p class="card-text">{{ product.description }}</p>
                        <div class="d-flex justify-content-between align-item-center">
                            <a href="{{ path('detroduct', {productCode:product.code}) }}"
                               class="bt-red bt-5">View details</a>
                            <span class="h5 mt-auto">{{ product.price }} $</span>
                        </div>
                    </div>
                </div>
            </div>

        {% endfor %}

    </div>
    <nav>
        <ul class="pagination" style="float:right">
            {% if (currentValues.page != 1) %}
                <li class="page-item">
                    <a href="{{ path('product_index', {
                        page:currentValues.page - 1 ,
                        category: currentValues.category,
                        limit: currentValues.limit
                    }) }}" class="page-link" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            {% endif %}
            {% for page in 1..totalPages %}
                <li class="page-item {{ (page == currentValues.page) ? 'active' : '' }}">
                    <a class="page-link" href="{{ path('product_index', {
                        page:page,
                        category: currentValues.category,
                        limit: currentValues.limit
                    }) }}">{{ page }}</a>
                </li>
            {% endfor %}

            {% if (currentValues.page != totalPages) %}
                <li class="page-item">
                    <a href="{{ path('product_index', {
                        page:currentValues.page + 1,
                        category: currentValues.category,
                        limit: currentValues.limit
                    }) }}" class="page-link" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>

{% endblock %}