{% extends 'default.html.twig' %}

{% block title %} Products {% endblock %}

{% block content %}
    <h1 class="mt-4 mb-5" align="center">Products</h1>
    {% include '/parts/flash.html.twig' %}
    <div class="row">
        {% for product in products %}
            <div class="col-md-3">
                <div class="card mb-3">
                    {% if product.productImage is not null %}
                    {% set fullImagePath = 'assets/main/img/gallery/' %}
                    {% set fullImagePath = fullImagePath ~ product.productImage|first %}
                     <img src="{{ asset(fullImagePath) }}" alt="{{ product.name }}" width="250" height="200"
                     class="card-img-top" style="width: 180px; height: 170px;">
                    {% else %}
                    <img src="{{ asset('assets/main/img/250x200.png') }}" alt="{{ product.name }}"
                         class="card-img-top">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ product.name }}</h5>
                        <p class="card-text">{{ product.description }}</p>
                        <div class="d-flex justify-content-between align-item-center">
                            <a href="{{ path('detroduct', {productCode:product.code}) }}"
                               class="bt-red bt-5">View details</a>
                            <span class="h5 mt-auto">{{ product.price }} $</span>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    {% include '/parts/pagination.html.twig' %}
{% endblock %}