{% extends 'default.html.twig' %}

{% block title %} Products {% endblock %}

{% block content %}
    <h1 class="mt-4 mb-5" align="center">Products</h1>
    {% include '/parts/flash.html.twig' %}
    <div class="row">
        {% for product in products %}
            <div class="col-md-3">
                <div class="card mb-3">
                    <img src="{{ asset('assets/main/img/250x200.png') }}" alt="{{ product.name }}"
                         class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">{{ product.name }}</h5>
                        <p class="card-text">{{ product.description }}</p>
                        <div >
                            <a href="{{ path('detroduct', {productCode:product.code}) }}"
                               class="bt-red bt-5">View details</a>
                            <span class="h5 mt-auto">{{ product.price }} $</span>

                        </div>
                        <br>
                        <div class="d-flex justify-content-between align-item-center">
{#                            {% if app.user %}#}
{#                                <a href="{{ path('cart_add', {'productCode':product.code}) }}" class="bt-red bt-5"#}
{#                                   id="add_cart">#}
{#                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"#}
{#                                         fill="currentColor"#}
{#                                         class="bi bi-cart" viewBox="0 0 16 16">#}
{#                                        <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>#}
{#                                    </svg>#}
{#                                    Add#}
{#                                </a>#}
{#                            {% else %}#}
{#                                <a href="{{ path('app_login', {'productCode':product.code}) }}" class="bt-red bt-5"#}
{#                                   id="add_cart">#}
{#                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"#}
{#                                         fill="currentColor"#}
{#                                         class="bi bi-cart" viewBox="0 0 16 16">#}
{#                                        <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>#}
{#                                    </svg>#}
{#                                    Add#}
{#                                </a>#}
{#                        {% endif %}#}
                        </div>
                    </div>
                </div>
            </div>

        {% endfor %}

    </div>
    {% include '/parts/pagination.html.twig' %}

{% endblock %}