{{ form_start(form) }}
{#    {{ form_widget(form) }}#}

{#{{ form_row(form.items) }}#}

<div class="container">
  Items {{ order.items ? order.items|json_encode : '' }}
</div>

{{ form_row(form.paymentDetails) }}
<div class="col" id="ccd">
 {{ form_row(form.creditCardDetails) }}
</div>
{{ form_row(form.shippingDetails) }}
{{ form_row(form.total) }}


{{ form_end(form) }}
