{{ form_start(form) }}
{#    {{ form_widget(form) }}#}

{#{{ form_row(form.items) }}#}
{#{{ form_row(form.paymentDetails) }}#}
{#{{ form_row(form.creditCardDetails) }}#}
{#{{ form_row(form.shippingDetails) }}#}
{#{{ form_row(form.total) }}#}
 {{ form_widget(form) }}

{#    <button class="btn">{{ button_label|default('Save') }}</button>#}
{{ form_end(form) }}
